@import './_mixins.scss';

.stat-container {
  background: rgba(33, 33, 33, 0.7);
  margin-top: 2px;
  margin-right: 2px;
  height: 120px;

  & > label {
    @include overlay-text();
    display: block;
    padding: 1.25rem 0 0 16px;
    font-size: 14px;
    font-weight: bold;
  }

  & > .stat-value {
    @include overlay-text();
    font-size: 54px;
    font-weight: 400;
    display: block;
    margin-top: 1.5rem;
    margin-left: 16px;
    letter-spacing: -2px;

    & > .unit {
      @include overlay-text();
      font-size: 24px;
      font-weight: 400;
      margin-left: -15px;
    }
  }
}
