@import './_mixins.scss';

.stat-container {
  background: rgba(33, 33, 33, 0.7);
  margin-top: 2px;
  margin-right: 2px;
  height: 120px;
  cursor: pointer;

  & > label {
    @include overlay-text();
    display: block;
    padding: 1.25rem 0 0 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  & > .stat-value {
    @include overlay-text();
    font-size: 48px;
    font-weight: 400;
    display: block;
    margin-top: 1.5rem;
    margin-left: 16px;
    letter-spacing: -1px;

    &.unavailable {
      font-size: 18px;
      letter-spacing: 0;
      color: #555;
      text-transform: uppercase;
    }

    & > .unit {
      @include overlay-text();
      font-size: 24px;
      font-weight: 400;
      margin-left: -8px;
    }
  }
}

.status-value {
  border: solid 4px #ccc;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 3px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);

  &.status-normal {
    border-color: #bada55;
  }

  &.status-warning {
    border-color: #ffc800;
  }

  &.status-critical {
    border-color: #d20c0c;
  }

  & > ha-icon {
    font-size: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 6px;
  }

  & > span {
    @include overlay-text();
    font-size: 11px;
    display: block;
    margin: 0 auto;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 16px;

    &.multiline {
      margin-bottom: 0;
      margin-top: 7px;
    }
  }

  & > label {
    @include overlay-text();
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}
