body.haiku-dark {

  // Main Background Color
  --primary-background-color: #212121;
  --material-background-color: var(--primary-background-color);
  background-color: #212121;

  // Sidebar
  --sidebar-background-color: #1f1f1f;
  --paper-listbox-background-color: #1f1f1f;

  // Header
  --app-header-background-color: #000;

  // Cards
  --card-background-color: #333;
  --paper-card-background-color: var(--card-background-color);

  /* text */
  --primary-text-color: #ccc;
  --secondary-text-color: #777;
  --text-primary-color: #777;
  --disabled-text-color: #333;
  /* main interface colors */
  --primary-color: #1c1c1c;
  // --dark-primary-color: #0288d1;
  // --light-primary-color: #b3e5fC;
  // --accent-color: #ff9800;
  // --divider-color: rgba(0, 0, 0, .12);
  /* states and badges */
  --state-icon-color: #ccc;
  // --state-icon-active-color: #FDD835;
  // --state-icon-unavailable-color: var(--disabled-text-color);
  /* background and sidebar */

  // --primary-background-color: #fafafa;
  --secondary-background-color: #000;
  /* sidebar menu */
  --sidebar-text-color: #666;
  // --sidebar-background-color: var(--paper-listbox-background-color); /* backward compatible with existing themes */
  --sidebar-icon-color: #999;
  --sidebar-selected-text-color: var(--primary-text-color);
  --sidebar-selected-background-color: #444;
  --sidebar-selected-icon-color: var(--primary-text-color);
  /* controls */
  // --toggle-button-color: #bada55;
  /* --toggle-button-unchecked-color: var(--accent-color); */
  // --slider-color: #bada55;
  // --slider-secondary-color: var(--light-primary-color);
  // --slider-bar-color: var(--disabled-text-color);
  /* for label-badge */
  // --label-badge-background-color: white;
  // --label-badge-text-color: rgb(76, 76, 76);
  // --label-badge-red: #DF4C1E;
  // --label-badge-blue: #039be5;
  // --label-badge-green: #0DA035;
  // --label-badge-yellow: #f4b400;
  // --label-badge-grey: var(--paper-grey-500);
  /*
    Paper-styles color.html depency is stripped on build.
    When a default paper-style color is used, it needs to be copied
    from paper-styles/color.html to here.
  */
    // --paper-grey-200: #eeeeee;  /* for ha-date-picker-style */
  // --paper-grey-500: #9e9e9e;  /* --label-badge-grey */
  /* for paper-spinner */
  // --google-red-500: #db4437;
  // --google-blue-500: #4285f4;
  // --google-green-500: #0f9d58;
  // --google-yellow-500: #f4b400;
  /* for paper-slider */
  // --paper-green-400: #66bb6a;
  // --paper-blue-400: #42a5f5;
  // --paper-orange-400: #ffa726;
  /* opacity for dark text on a light background */
  // --dark-divider-opacity: 0.12;
  // --dark-disabled-opacity: 0.38; /* or hint text or icon */
  // --dark-secondary-opacity: 0.54;
  // --dark-primary-opacity: 0.87;
  /* opacity for light text on a dark background */
  // --light-divider-opacity: 0.12;
  // --light-disabled-opacity: 0.3; /* or hint text or icon */
  // --light-secondary-opacity: 0.7;
  // --light-primary-opacity: 1.0;
  /* derived colors, to keep existing themes mostly working */
  // --paper-listbox-background-color: var(--card-background-color);
  --paper-item-icon-color: var(--state-icon-color);
  // --paper-item-icon-active-color: var(--state-icon-active-color);
  // --table-row-background-color: var(--primary-background-color);
  // --table-row-alternative-background-color: var(--secondary-background-color);
  /* set our toggle style */
  --mdc-theme-secondary: #bada55;
  --switch-checked-button-color: var(--mdc-theme-secondary);
  --switch-checked-track-color: #7c8f47;
  /* set our slider style */
  // --paper-slider-knob-color: var(--slider-color);
  // --paper-slider-knob-start-color: var(--slider-color);
  // --paper-slider-pin-color: var(--slider-color);
  // --paper-slider-active-color: var(--slider-color);
  // --paper-slider-secondary-color: var(--slider-secondary-color);
  // --paper-slider-container-color: var(--slider-bar-color);
  // --ha-paper-slider-pin-font-size: 15px;
}
