@import '../styles/_tiles.scss';

.status-container {
  padding: 12px 0;
}

.status-value {
  cursor: pointer;

  & > * {
    cursor: pointer;
  }

  &.cool {
    border-color: #00c6fb;
  }

  &.heat {
    border-color: #ff6600;
  }

  & .unit {
    font-size: 15px;
    margin-left: -15px;
    color: #999;
  }
}
