@import '../styles/_tiles.scss';

.status-container {
  padding: 12px 0;
}

.status-value {
  border: solid 4px #bada55;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 3px;
  margin: 0 auto;
  text-align: center;
  color: #fff;

  & > ha-icon {
    font-size: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 6px;
  }

  & > span {
    font-size: 11px;
    display: block;
    margin: 0 auto;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 9px;
    margin-top: 16px;

    &.multiline {
      margin-bottom: 7px;
      margin-top: 7px;
    }
  }

  & > label {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}
