@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.haiku-card-container {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.haiku-room-card {
  height: 30rem;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 1.5rem;

  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.45) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #777;
  background-blend-mode: multiply,multiply;

  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.haiku-room-card-title {
  @include overlay-text();
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: $brand-font;
  font-weight: 400;
  padding: 1.5rem 2rem;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

@mixin tiles-thirds() {
  width: 32%;
  &:nth-child(3n+3) {
    margin-right: -1px;
  }
}

@mixin tiles-halves() {
  width: 48%;
  &:nth-child(odd) {
    margin-right: -1px;
  }
}

.tiles {
  display: block;
  margin: 0 -3px;

  & > * {
    display: block;
    float: left;
    margin: 6px 3px 0;

    @media only screen and (max-width: 599px) {
      @include tiles-thirds();
    }

    @media only screen and (min-width: 600px) and (max-width: 849px) {
      @include tiles-halves();
    }

    @media only screen and (min-width: 850px) and (max-width: 899px) {
      @include tiles-thirds();
    }

    @media only screen and (min-width: 900px) and (max-width: 1599px) {
      @include tiles-halves();
    }

    @media only screen and (min-width: 1600px) {
      @include tiles-thirds();
    }
  }
}
